/* 共通 css */
:root {
    --main-bg-color: #FFFBEF;
    --sub-bg-color: #ffda5f;
    --font-color: #000000;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
    background-color: var(--main-bg-color);
    scrollbar-gutter: stable;
}
body {
    font-family: 
        "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    margin: unset;
}
img {
    display: block;
}
h2, dl, dd  {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: 300;
    font-size: 32px;
    color: var(--font-color);
    margin-bottom: 50px;
}
details {
    border-top: 1px solid var(--font-color);
    transition: 0.5s;
}
details:last-of-type {
    border-bottom: 1px solid var(--font-color);
}
summary {
    font-weight: 600;
    font-size: 18px;
    color: var(--font-color);
    list-style: none;
    padding: 40px 0;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
}
summary:hover,
summary.open {
    background-color: var(--sub-bg-color);
}
span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #000000;
}
span::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: #000000;
    transform: rotate(-90deg);
    transition: 0.5s;
}
summary.open span::after {
    transform: rotate(0deg);
}
dl {
    margin-top: 35px;
    margin-bottom: 75px;
    display: none;
}
dt {
    font-weight: 600;
    font-size: 16px;
    color: var(--font-color);
    margin-bottom: 10px;
}
dd {
    font-weight: 300;
    font-size: 16px;
    color: var(--font-color);
    margin-left: 10px;
    margin-bottom: 40px;
}
div.container {
    max-width: 920px;
    padding: 0 20px;
    margin: 100px auto;
    box-sizing: content-box;
}


/* 広い画面向けの CSS */
@media (min-width: 600px) {
summary {
    padding-left: 30px;
    padding-right: 45px;
}
dl div {
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
dt, dd {
    margin-left: unset;
    margin-bottom: 40px;
}
}
